In [1]:
s = "Hello World"

In [2]:
s.upper()

'HELLO WORLD'

In [3]:
s.lower()

'hello world'

In [4]:
s.title()

'Hello World'

In [5]:
s.capitalize()

'Hello world'

In [6]:
s.split()

['Hello', 'World']

In [7]:
s.split('W')

['Hello ', 'orld']

In [8]:
s.count('l')

3

In [9]:
s.find('o')

4

In [10]:
s.center(20, 'z')

'zzzzHello Worldzzzzz'

In [12]:
s.center(30, '$')

'$$$$$$$$$Hello World$$$$$$$$$$'

The expandtabs() method will expand tab notations \t into spaces:

In [13]:
'Pratiksha\tRaval'.expandtabs()

'Pratiksha       Raval'

In [21]:
s = 'hello'

In [16]:
s.isalnum()

True

In [17]:
s = 'prats ra'

In [18]:
s.isalnum()

False

In [22]:
s.isalpha()

True

In [23]:
s.islower()

True

In [24]:
s.isspace()

False

In [29]:
s = 'prats ra'

In [26]:
s.isspace()

False

In [27]:
s = ''

In [28]:
s.isspace()

False

In [30]:
s.istitle()

False

In [31]:
s.endswith('a')

True

### split() vs partition()

In [32]:
s = 'hello world'

In [33]:
s.split('w')

['hello ', 'orld']

In [34]:
s.partition('w')

('hello ', 'w', 'orld')

In [35]:
s.split('o')

['hell', ' w', 'rld']

In [36]:
s.partition('o')

('hell', 'o', ' world')

In [37]:
st = 'raval'

In [38]:
st[::]

'raval'

In [39]:
st[-1]

'l'

In [40]:
st[::-1]

'lavar'

In [41]:
st[:-1]

'rava'

In [42]:
st[2:]

'val'

## Formatting

In [44]:
print('my name is %s raval' %'pratiksha')

my name is pratiksha raval

In [45]:
x, y = 'pratiksha', 'raval'
print('my name is %s and last name is %s' %(x,y))

my name is pratiksha and last name is raval

In [47]:
print('my name is %s' %'pratiksha')
print('my name is %r' %'pratiksha')

my name is pratiksha
my name is 'pratiksha'

In [48]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75)

I wrote 3.75 programs today.
I wrote 3 programs today.

In [49]:
print('my name is {} raval'.format('pratiksha'))

my name is pratiksha raval

In [50]:
print('the date is {1} and year is {0}'.format(1995, 15))

the date is 15 and year is 1995

In [53]:
name = 'prats'
print(f'my name is {name}')

my name is prats

In [55]:
mylist = [1,2,3,4,5]

In [56]:
mylist

[1, 2, 3, 4, 5]

In [57]:
len(mylist)

5

In [58]:
mylist[0]

1

In [59]:
mylist[2:]

[3, 4, 5]

In [60]:
mylist + ['new']

[1, 2, 3, 4, 5, 'new']

In [61]:
mylist

[1, 2, 3, 4, 5]

In [80]:
mylist.count(10)

0

In [62]:
mylist * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [63]:
mylist.append('what')

In [64]:
mylist

[1, 2, 3, 4, 5, 'what']

In [ ]:
mylist.extend('what')

In [65]:
mylist.pop(2)

3

In [66]:
mylist

[1, 2, 4, 5, 'what']

In [67]:
mylist.reverse()

In [68]:
mylist

['what', 5, 4, 2, 1]

In [69]:
mylist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [81]:
mylist.insert(1, 'inserted')

In [82]:
mylist

[1, 'inserted', 2, 4, 5]

In [86]:
mylist.remove('inserted')
mylist

[1, 4, 5]

In [87]:
mylist.remove(4)
mylist

[1, 5]

In [70]:
mylist.pop(0)

'what'

In [71]:
mylist

[5, 4, 2, 1]

In [72]:
mylist.sort()

In [73]:
mylist

[1, 2, 4, 5]

In [74]:
l1 = [22,4,67]
l2 = [1,4,6,7]
l3 = [98,56,21]

new_list = [l1,l2,l3]

In [75]:
new_list

[[22, 4, 67], [1, 4, 6, 7], [98, 56, 21]]

In [76]:
new_list[1]

[1, 4, 6, 7]

In [77]:
new_list[2][0]

98

In [78]:
first_element = [ele[0] for ele in new_list]

In [79]:
first_element

[22, 1, 98]

In [88]:
s = set()

In [89]:
s.add(1)

In [90]:
s

{1}

In [91]:
s.add(2)

In [92]:
s

{1, 2}

In [93]:
s.clear()

In [94]:
s

set()

In [95]:
type(s)

set

In [99]:
s = set()

In [102]:
s = {1,2,3,4,5,5,5,6,6}

In [103]:
s

{1, 2, 3, 4, 5, 6}

In [104]:
sc = s.copy()

In [105]:
sc

{1, 2, 3, 4, 5, 6}

In [106]:
sc.add(7)

In [107]:
sc

{1, 2, 3, 4, 5, 6, 7}

In [108]:
s.difference(sc)

set()

In [109]:
sc.difference(s)

{7}

In [110]:
sc.issubset(s)

False

In [111]:
sc.issuperset(s)

True

In [112]:
sc.isdisjoint(s)

False

In [113]:
s.isdisjoint(sc)

False

In [114]:
sc.discard(1)

In [115]:
sc

{2, 3, 4, 5, 6, 7}

In [116]:
s.intersection(sc)

{2, 3, 4, 5, 6}

In [117]:
s.union(sc)

{1, 2, 3, 4, 5, 6, 7}

In [118]:
#Return the symmetric difference of two sets as a new set.
s.symmetric_difference(sc)

{1, 7}

In [120]:
{x:x**3 for x in range(5)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}