In [1]:
2+1

3

In [2]:
3/2

1.5

In [3]:
3%2

1

In [4]:
23 % 2

1

In [5]:
20 % 2

0

In [6]:
2 * 3

6

In [7]:
2 ** 3

8

^ represnts XOR

In [9]:
6^6

0

In [10]:
1/2

0.5

Python uses dynamic typing. This means you can reassign variables to different data types. <br>
god = 2 <br>
god = ["Cycle", "Bike"]

In [11]:
a = 5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a + a

20

In [15]:
a

10

In [18]:
a = a + a

In [19]:
a

40

In [20]:
type(a)

int

In [21]:
a = 30.1

In [22]:
type(a)

float

In [23]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [24]:
my_taxes

10.0

Strings are ordered sequences. Use indexing and slicing to grab sub-section of the string <br>
indexing: [] --> allows to grab a single character from a string using [] and index of char
<br>
Slicing allows to grab a subsection of multiple characters, a "slice" of the string.
[start:stop:step]

In [25]:
"I'm gonna  work hard"

"I'm gonna  work hard"

In [26]:
len("hello")

5

In [27]:
len("Pratiksha")

9

In [30]:
mystring = "Pratiksha"
mystring

'Pratiksha'

In [29]:
mystring[0]

'H'

In [31]:
mystring[4]

'i'

In [32]:
mystring[-3]

's'

In [33]:
mystring[-1]

'a'

In [34]:
strings = "abcdefghijk"
strings

'abcdefghijk'

In [35]:
strings[4]

'e'

In [36]:
strings[4:]

'efghijk'

In [37]:
strings[:4]

'abcd'

In [38]:
strings[4:7]

'efg'

In [39]:
strings[1:3]

'bc'

In [40]:
strings[::]

'abcdefghijk'

In [41]:
strings[::2]

'acegik'

In [42]:
strings[::4]

'aei'

In [43]:
strings[2:7:2]

'ceg'

In [44]:
strings[::-1]

'kjihgfedcba'

# Immutability

In [45]:
name = "Oval"

In [46]:
name[1:]

'val'

In [47]:
new_name = name[1:]

In [48]:
"Ra" + new_name

'Raval'

In [49]:
letter = 'z'

In [50]:
letter * 10

'zzzzzzzzzz'

In [51]:
'2'+'3'

'23'

In [52]:
x = "Hello World"

In [55]:
x.upper()

'HELLO WORLD'

In [56]:
x.split()

['Hello', 'World']

In [57]:
x.split('l')

['He', '', 'o Wor', 'd']

In [58]:
print("My name is {}".format("PRATIKSHA"))

My name is PRATIKSHA

In [59]:
print("My name is {1} {0}".format('Pratiksha', 'Raval'))

My name is Raval Pratiksha

In [60]:
result = 100/177
result

0.5649717514124294

In [64]:
print('The result is {r:1.3f}'.format(r=result))

The result is      0.565

In [65]:
name = "Jose"

In [67]:
print("hello name is {}".format(name))

hello name is Jose

In [68]:
print(f"hello name is {name}")

hello name is Jose

In [69]:
name = "prats"
age = 25

In [70]:
print(f'{name} is {age} years old')

prats is 25 years old

In [71]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [72]:
my_dict['key1']

'value1'

In [73]:
d = {'k1': 123, 'k2': [0, 1, 2], 'k3':{'insidekey': 100}}

In [77]:
d['k2'][2]

2

In [76]:
d['k3']['insidekey']

100

In [78]:
d = {'key1': ['a', 'b', 'c']}

In [79]:
d

{'key1': ['a', 'b', 'c']}

In [80]:
mylist = d['key1']

In [81]:
mylist

['a', 'b', 'c']

In [82]:
letter = mylist[2]

In [83]:
letter

'c'

In [84]:
letter.upper()

'C'

In [85]:
d

{'key1': ['a', 'b', 'c']}

In [86]:
tuples_t = (1, 2, 3)

In [87]:
tuples_t

(1, 2, 3)

In [92]:
tuples_t[1]

2

In [93]:
my_set = set()

In [94]:
my_set

set()

In [95]:
my_set.add(1)

In [96]:
my_set

{1}

In [97]:
my_set.add(2)

In [98]:
my_set

{1, 2}

In [100]:
mylist = [1,1,1,1,1,3,3,3,3,55,5,6,]

In [101]:
set(mylist)

{1, 3, 5, 6, 55}

In [102]:
True

True

In [103]:
type(False)

bool

In [104]:
1 > 2

False

In [105]:
1 == 1

True

In [106]:
b = None

In [107]:
b

In [110]:
y = {1, 2, 3, 4}

In [111]:
type(y)

set

I/O Basics

In [112]:
%%writefile myfile.txt
Hello This is how you write into the file
This is how you make a new file
Jupyter Notebook functionality

Writing myfile.txt

In [113]:
myfile = open('myfile.txt')

In [114]:
pwd

'/Users/pratiksharaval/Project/Learn python/Udemy Programs'

In [115]:
ls

Numbers.ipynb  myfile.txt

In [116]:
myfile.read()

'Hello This is how you write into the file\nThis is how you make a new file\nJupyter Notebook functionality\n'

In [117]:
myfile.read()

''

In [124]:
myfile.seek(0)

0

In [120]:
contents = myfile.read()

In [122]:
contents

''

In [125]:
myfile.readlines()

['Hello This is how you write into the file\n',
 'This is how you make a new file\n',
 'Jupyter Notebook functionality\n']

In [126]:
myfile.close()

In [127]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [128]:
contents

'Hello This is how you write into the file\nThis is how you make a new file\nJupyter Notebook functionality\n'

In [131]:
with open('myfile.txt', mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [2]:
mylist = [1,2,3,4,5,6,7]
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7

In [6]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7

In [8]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28

In [9]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [13]:
for _ in 'Pratiksha':
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool

In [14]:
mylist = [(1,2), (3,4), (5,6)]
len(mylist)

3

In [18]:
for (a,b) in mylist:
    print (a)
    print (b)

1
2
3
4
5
6

In [19]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [20]:
for item in d:
    print (item)

k1
k2
k3

In [22]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [23]:
for key, value in d.items():
    print(value)

1
2
3

In [26]:
for value in d.values():
    print(value)

1
2
3

In [28]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less that 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less that 5

# break, continue, pass
break: breaks out of the current closest enclosing loop <br>
continue: goes to the top of the closest enclosing loop<br>
paas: does nothing at all

In [29]:
x = [1, 2, 3]

for item in x:
    pass

In [30]:
mystring = 'Prats'

In [33]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

P
r
t
s

In [35]:
x = 0

while x < 5:
    
    if (x == 2):
        break
    print (x)
    x += 1

0
1

In [36]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [37]:
for num in range(3, 6):
    print(num)

3
4
5

In [39]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [40]:
range(0, 11, 2)

range(0, 11, 2)

In [41]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [42]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [43]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [45]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [49]:
mylist = [1, 2, 3]
l2 = ['a', 'b', 'c']
l3 = [11,22,44]

In [50]:
for item in zip(mylist, l2, l3):
    print(item)

(1, 'a', 11)
(2, 'b', 22)
(3, 'c', 44)

In [52]:
list(zip(mylist, l2, l3))

[(1, 'a', 11), (2, 'b', 22), (3, 'c', 44)]

In [56]:
1 in [1,2,3]

True

In [ ]:
'x' in ['x', 'y', 'z']

In [57]:
'mykey' in {'mykey': 123}

True

In [58]:
d = {'mykey': 123}

In [59]:
'mykey' in d

True

In [60]:
'mykey' in d.values()

False

In [61]:
123 in d.values()

True

In [62]:
mylist = [1,2,3,4,5]

In [63]:
len(mylist)

5

In [65]:
for kv in mylist:
    if len(mylist) == 5:
        print(kv)
    else:
        print ('No luck')

1
2
3
4
5

In [66]:
def mapper(key, value):
    if len(value) != 6:
        return

#tokenize the input
    tokens = value.split(",")
    age = tokens[0]
    gender = tokens[1]
    city = tokens[2]
    state = tokens[3]
    country = tokens[4]
    salary = tokens[5]
    
    for token in tokens:
        if age > 15:
            emit(age, salary)
            emit(city, 1)
            emit(gender, 1)

In [67]:
#Output of the mapper class
# 1. 20,Male,Ames,IA,USA,25000
# 2. 24,Male,Ames,IA,USA,29000
# 3. 24,Female,Sunnyvale,CA,USA,57000
# 4. 40,Male,Ames,IA,USA,43000
# 5. 40,Male,Boone,IA,USA,44000
# 6. 40,Female,Cupertino,CA,USA,48000
# 7. 20,Male,Boone,IA,USA,24000
# 8. 30,Male
# 9. 20,Female,Ames,IA,USA,26000
# 10. 12,Male,Ames, IA,USA,1000
# 11. 24,Male,Boone,IA,USA,34000
# 12. 14,Female,Sunnyvale,CA,4500


(20           25000)
(Male         1)
(cityName     Ames)

(24           29000) 
(Male         1)
(cityName     Ames)

(24           57000)
(Female       1)
(cityName     Sunnyvale)

(40           43000)
(Male         1)
(cityName     Ames)

(40           44000)
(Male         1)
(cityName     Boone)

(40           48000)
(Female       1)
(cityName     Cupertino)

(20           24000)
(Male         1)
(cityName     Boone)

(20           26000)
(Female       1)
(cityName     Ames)

(24           34000)
(Male         1)
(cityName     Boone)

SyntaxError: invalid syntax (<ipython-input-67-f870969de488>, line 16)

In [ ]:
# output of sort and shuffle

(20, [25000, 24000, 26000])
(24, [29000, 57000, 34000])
(40, [43000, 44000, 48000])
(Male, [1, 1, 1, 1, 1, 1])
(Female, [1, 1, 1])
(cityName, [Ames, Ames, Sunnyvale, Ames, Boone, Cupertino, Boone, Ames, Boone])

In [70]:
def reducer(key, value):
    count = 0
    total = 0
    
    for v in value:
        count += 1 
        total += v
    
    #when the key is integer then handle average salary
    if(type[key] == int):                      
        average_salary = total / count                      
        emit(key, average_salary)    
        
    #Handle Number of males when key is male   
    elif(key == 'Male'):                      
        emit("number-of-males", count)           
      
    #Handle Number of Females when key is Female   
    elif(key == 'Female'):                     
        emit("number-of-females", count)                                 
    else:
        city_list=[]
        for v in values:
            if v not in city_list: 
                city_list.append(v)
        emit("unique-cities:",city_list)

In [71]:
# Output of reducer class
(20, 25000)
(24, 40000)
(40, 45000)
("unique-cities", 4)
("number-of-males", 6)
("number-of-females", 3)

('number-of-females', 3)

In [72]:
initial_list = ['', 'O', '']

In [73]:
from random import shuffle

In [74]:
shuffled_list = shuffle(initial_list)

In [75]:
shuffled_list

In [76]:
type(shuffled_list)

NoneType

In [78]:
def shuffle_func(initial_list):
    shuffle(initial_list)
    
    return initial_list

In [79]:
initial_list

['', 'O', '']

In [80]:
shuffle(initial_list)

In [81]:
initial_list

['', '', 'O']

In [82]:
def user_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("enter 1, 2 or 0: ")
        
    return int(guess)

In [83]:
user_guess()

enter 1, 2 or 0: 2

2

In [84]:
user_guess()

enter 1, 2 or 0: 8
enter 1, 2 or 0: 2

2

In [85]:
def check_result(initial_list, guess):
    if initial_list[guess] == 'O':
        print("correct")
    else:
        print('sorry bro')
        print(initial_list)

In [88]:
initial_list = [' ', 'O', ' ']

shuffled_list = shuffle(initial_list)

guess = user_guess()

check_result(shuffled_list, guess)

enter 1, 2 or 0: 4
enter 1, 2 or 0: 3
enter 1, 2 or 0: 2

TypeError: 'NoneType' object is not subscriptable

In [94]:
def animal_cracker(word):
    token = word.split()
    return token[0][0] == token[1][0]

In [97]:
animal_cracker('Pratiksha Paval')

True

In [104]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [103]:
old_macdonald('macdonald')

'MacdDonald'

In [109]:
def old_macdonald(name):
    if len(name) > 3:
        return name[0:].capitalize() + name[3].capitalize()
    else:
        return 'Name is too short!'

In [110]:
old_macdonald('macdonald')

'MacdonaldD'

In [111]:
def master_yoda(sentence):
    return ' '.join(sentence.split()[::-1])

In [112]:
def almost_there(n):
    return ((abs(100-n) <= 10) or (abs(200-n)<=10))

In [113]:
almost_there(45)

False

In [114]:
almost_there(95)

True

In [115]:
def has_33(num):
    for i in range(len(num)-1):
        if num[i]==3 and num[i+1]==3:
            return True
    return False

In [116]:
has_33([1,2,2,3,3])

True

In [117]:
has_33([1,2,2,3,1])

False

In [120]:
def paper_doll(word):
    mystring = ' '
    for char in word:
        mystring += char * 3
    return mystring

In [121]:
paper_doll('hello')

' hhheeellllllooo'

In [140]:
def summer(arr):
    total = 0
    flag = False
    
    for num in arr:
        while not flag:
            if num != 6:
                total += num
                break
            else:
                flag = True
        while flag:  #stop when flag is true
            if num != 9:
                break
            else:
                flag = True
                break
    return total

In [141]:
summer([1,3,5])

9

In [142]:
summer([4, 5, 6, 7, 8, 9])

KeyboardInterrupt:

In [132]:
summer([4, 5, 6, 7])

9

In [143]:
summer([4, 5, 6, 9, 11])

KeyboardInterrupt:

In [134]:
def summer_69(arr):

    x = False

    ans = 0

    for num in arr:

        if num == 6:

            x = True

        elif num == 9:

            x = False

        else:

            if x == False:

                ans+=num

    return ans

In [135]:
summer_69([4, 5, 6, 9, 11])

20

In [144]:
def spy_game(arr):
    hardcoded = [0,0,7]
    for num in arr:
        if num == hardcoded[0]:
            hardcoded.pop()
    return len(hardcoded) == 1

In [145]:
spy_game([1,2,4,0,0,7,5])

True

In [146]:
spy_game([1,0,2,4,0,5,7])

True

In [147]:
spy_game([1,7,2,0,4,5,0])

True

In [148]:
spy_game([0,7,0,7])

True

In [156]:
hardcoded = [0,0,7]
for i in hardcoded:
    hardcoded.pop()
print(len(hardcoded))

1

In [150]:
len(hardcoded)

3

In [151]:
hardcoded[]

SyntaxError: invalid syntax (<ipython-input-151-fb002d6b8d41>, line 1)

In [167]:
mylist = [0,1,2,3,4,5,6,7,8,9,10]

In [169]:
mylist[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [164]:
my_list = ['one','two','three',4,5]

In [166]:
my_list[3]

4

In [171]:
mylist[::2]

[0, 2, 4, 6, 8, 10]

In [ ]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [193]:
def count_primes(num):
    prime_list = [2]
    if num < 2:
        return 0
    else:
        for n in range(3, num+1, 2):
            for m in prime_list:
                if n%m==0:
                    break
            else:
                prime_list.append(n)
    print(prime_list)
    return len(prime_list)

In [194]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [189]:
def count_primes(num):

    known_primes = [2]

    if num < 2:

        return 0

    else:

        for n in range(3,num+1,2):

            for m in known_primes:

                if n%m==0:

                    break

            else:

                known_primes.append(n)

    return len(known_primes)

In [190]:
count_primes(100)

25

In [216]:
def isPalindrome(phrase):
    #remove spaces between words
    phrase = phrase.replace(' ', '')
    #check if phrase is euqual to equal to the reverse of phrase
    return phrase == phrase[::-1]

In [217]:
isPalindrome('nurses run')

True

In [218]:
isPalindrome('madam')

True

In [221]:
def unique_list(lst):
    x = []
    for item in lst:
        if item not in x:
            x.append(item)
    return x

In [222]:
unique_list([1,1,1,1,4,5,6,6,6,4,4,5,5,8,1])

[1, 4, 5, 6, 8]

In [1]:
num = [1, 2, 3, 5, 6, 7, 8, 100, -1, -3, 0, 7, -100, 44, -91, 65, 10, -7, 0, 9, -6]

In [5]:
type(num)

list

In [10]:
total = 0
for i in num:
    total += i

print(total)

59

In [12]:
pair_list = [(6, 7), (1, 4), (7, 8), (2, 8), (9, 3), (4, 5)]

<b> MILESTONE PROJECT 1

In [14]:
from IPython.display import clear_output
clear_output()

<b> Step 1: Write a function that can print out a board. Set up your board as a list, where each index 1-9 corresponds with a number on a number pad, so you get a 3 by 3 board representation.

In [15]:
def display_board(board):
    
    print('   |   |')
    print(' ' + board[7] + ' | ' + board[8] + ' | ' + board[9])
    print('   |   |')
    print('-----------')
    print('   |   |')
    print(' ' + board[4] + ' | ' + board[5] + ' | ' + board[6])
    print('   |   |')
    print('-----------')
    print('   |   |')
    print(' ' + board[1] + ' | ' + board[2] + ' | ' + board[3])
    print('   |   |')

In [16]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)

   |   |
 X | O | X
   |   |
-----------
   |   |
 O | X | O
   |   |
-----------
   |   |
 X | O | X
   |   |

In [17]:
def player_input():
    marker = ''
    
    while not (marker == 'X' or marker == 'O'):
        marker = input('Player 1: Do you want to be X or O? ').upper()

    if marker == 'X':
        return ('X', 'O')
    else:
        return ('O', 'X')

In [18]:
player_input()

Player 1: Do you want to be X or O? u
Player 1: Do you want to be X or O? U
Player 1: Do you want to be X or O? O

('O', 'X')

In [19]:
def place_decide(board, marker, position):
    board[position] = marker

In [22]:
place_decide(test_board, '@', 8)

In [23]:
display_board(test_board)

   |   |
 X | @ | X
   |   |
-----------
   |   |
 O | X | O
   |   |
-----------
   |   |
 X | O | X
   |   |

In [24]:
def win_check(board,mark):
    
    return ((board[7] == mark and board[8] == mark and board[9] == mark) or # across the top
    (board[4] == mark and board[5] == mark and board[6] == mark) or # across the middle
    (board[1] == mark and board[2] == mark and board[3] == mark) or # across the bottom
    (board[7] == mark and board[4] == mark and board[1] == mark) or # down the middle
    (board[8] == mark and board[5] == mark and board[2] == mark) or # down the middle
    (board[9] == mark and board[6] == mark and board[3] == mark) or # down the right side
    (board[7] == mark and board[5] == mark and board[3] == mark) or # diagonal
    (board[9] == mark and board[5] == mark and board[1] == mark)) # diagonal

In [25]:
win_check(test_board,'X')

True

In [26]:
display_board(test_board)

   |   |
 X | @ | X
   |   |
-----------
   |   |
 O | X | O
   |   |
-----------
   |   |
 X | O | X
   |   |

In [27]:
import random

def first_turn():
    if random.randint(0, 1) == 0:
        return 'Player 2'
    else:
        return 'Player 1'

In [28]:
def space_check(board, position):
    
    return board[position] == ' '

In [29]:
def full_board_check(board):
    for i in range(1,10):
        if space_check(board, i):
            return False
    return True

In [30]:
def player_choice(board):
    position = 0
    
    while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board, position):
        position = int(input('Choose your next position: (1-9) '))
        
    return position

In [31]:
def replay():
    
    return input('Do you want to play again? Enter Yes or No: ').lower().startswith('y')

In [36]:
print('Welcome to Tic Tac Toe!')

while True:
    theBoard = [' '] * 10
    player1_marker, player2_marker = player_input()
    turn = first_turn()
    print(turn + ' will go first.')
    
    play_game = input('Are you ready to play? Enter Yes or No.')
    
    if play_game.lower()[0] == 'y':
        game_on = True
    else:
        game_on = False

    while game_on:
        if turn == 'Player 1':
            # Player1's turn.
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_decide(theBoard, player1_marker, position)

            if win_check(theBoard, player1_marker):
                display_board(theBoard)
                print('Congratulations! You have won the game!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 2'

        else:
            # Player2's turn.
            
            display_board(theBoard)
            position = player_choice(theBoard)
            place_decide(theBoard, player2_marker, position)

            if win_check(theBoard, player2_marker):
                display_board(theBoard)
                print('Player 2 has won!')
                game_on = False
            else:
                if full_board_check(theBoard):
                    display_board(theBoard)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 1'

    if not replay():
        break

Welcome to Tic Tac Toe!
Player 1: Do you want to be X or O? X
Player 2 will go first.
Are you ready to play? Enter Yes or No.y
   |   |
   |   |
   |   |
-----------
   |   |
   |   |
   |   |
-----------
   |   |
   |   |
   |   |
Choose your next position: (1-9) 9
   |   |
   |   | O
   |   |
-----------
   |   |
   |   |
   |   |
-----------
   |   |
   |   |
   |   |
Choose your next position: (1-9) 5
   |   |
   |   | O
   |   |
-----------
   |   |
   | X |
   |   |
-----------
   |   |
   |   |
   |   |
Choose your next position: (1-9) 1
   |   |
   |   | O
   |   |
-----------
   |   |
   | X |
   |   |
-----------
   |   |
 O |   |
   |   |
Choose your next position: (1-9) 3
   |   |
   |   | O
   |   |
-----------
   |   |
   | X |
   |   |
-----------
   |   |
 O |   | X
   |   |
Choose your next position: (1-9) 7
   |   |
 O |   | O
   |   |
-----------
   |   |
   | X |
   |   |
-----------
   |   |
 O |   | X
   |   |
Choose your next position: (1-9) 4
   |   |
 O |   | O
   |   |
-----------
   |   |
 X | X |
   |   |
-----------
   |   |
 O |   | X
   |   |
Choose your next position: (1-9) 8
   |   |
 O | O | O
   |   |
-----------
   |   |
 X | X |
   |   |
-----------
   |   |
 O |   | X
   |   |
Player 2 has won!
Do you want to play again? Enter Yes or No: n